:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-size: 1rem;
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.5em;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  border-right: #222 solid 1px;
}

.logo img {
  height: 50px;
}

.logo span {
  margin-top: auto;
  margin-bottom: auto;
  font-family: monospace;
  font-weight: 600;
}

.logo {
  display: flex;
  justify-content: start;
  padding: 5%;
}

.text-sm {
  font-size: small;
}

.gray {
  color: #666;
}

.font-mono {
  font-family: monospace;
}

.content {
  display: flex;
  flex-grow: 1;
  text-align: left;
}

.content section {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
