:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #0e0e0e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  font-size: 1rem;
  border: 0;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.5em;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-max {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.m-auto {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.text-sm {
  font-size: small;
}

.gray {
  color: #666;
}

.font-mono {
  font-family: monospace;
}

.content {
  max-width: 800px;
  text-align: left;
}
